.itemCard {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 16rem;
    padding: 1rem;
    font-family: 'Unbounded', sans-serif;
    border: 0.4rem solid #000;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
}

.itemName {
    font-size: 1.9rem;
    font-weight: 800;
    color: black;
    margin-bottom: 1rem;
}

.itemPrice {
    font-size: 1.9rem;
    font-weight: 600;
    color: black;
}

.itemButtonsWrapper {
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img{
    width: 300px;
    height: 200px; 
    margin-bottom: 1rem;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(9, 8, 8);
    background-color: #35fe03;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    


  .removebutton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(250, 243, 243);
    background-color: #fe0331;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .removebutton span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .removebutton span:nth-child(6) {
    position: relative;
  }
  
  .removebutton span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  .removebutton span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .removebutton span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .removebutton span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .removebutton span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .removebutton:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    